<nav class="navbar navbar-expand-sm bg-dark text-light navbar-dark justify-content-center">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
        
        {% if user.is_superuser %}
        <li class="nav-item active font-weight-bold">
            <a class="nav-link" href="#">Admin Panel</a>
        </li>
        <li class="nav-item" id='homepage_link'>
            <a class="nav-link" href="{% url 'homepage' %}">Homepage</a>
        </li>
        {% endif %}
        <li class="nav-item" id='upload_file_link'>
            <a class="nav-link" href="{% url 'upload_file_page' %}">Upload Files</a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Hello, {{user.first_name}} {{user.last_name}}
            </a>
            <div class="dropdown-menu">
                <a class="nav-link text-dark" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item" id='login_link'>
            <a class="nav-link" href="{% url 'login_page' %}">Login</a>
        </li>
        <li class="nav-item" id='register_link'>
            <a class="nav-link" href="{% url 'register_page' %}">Register</a>
        </li>
        {% endif %}
    </ul>
</nav>